/* Content - General */
.container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-content .page-title{
	text-align: center;
	padding-bottom: 10px;
}

.form-msg-box {
	color: red;
	margin-bottom: 15px;
}

.submit-btn {
	background-color: #212529;
	color: white;
	font-weight: bold;
}

.submit-btn:hover {
	background-color: #FF8C00;
	color: #212529;
}


/* Header */


/* Sidebar */
.dashboard .main-sidebar, .dashboard .dashboard-content {
	padding-top: 20px;
	padding-bottom: 20px; 
}

.dashboard .main-sidebar ul li i {
	color: white;
}

.dashboard .main-sidebar ul li {
	background-color: #212529;
	border-color: white;
}

.dashboard .main-sidebar ul li a {
	color: white;
	padding-left: 20px;
	text-decoration: none;
}

.dashboard .main-sidebar ul li a:hover {
	color: cyan;
}

.dashboard .dashboard-content {
	/*background-color: gray;*/
}

/* Content - Admin */
/* Dashboard View */
.dashboard-content .main-content .container{
	padding-top: 0px;
	padding-bottom: 0px;
}

.dashboard-page .card {
	border: 0;
}

.dashboard-page .card .card-header {
	background-color: #008B8B;
	color: #ffffff;
}

.dashboard-page .card .card-footer {
	background-color: inherit;
	border: 0;
}

.dashboard-page .package .card-header {
	background-color: #008B8B;
	color: #ffffff;
}

.dashboard-page .package .card-footer {
	background-color: inherit;
	border: 0;
}


/* Package View */
.single-package-page .package {
	width: 50%;
	margin: 0 auto;
	background-color: #00FFFF;
	text-align: center;
	border: 1px solid #00FFFF ;
}

/* Login View */
.login-page {
	background: url('../img/login_page_bg.jpg');
}

.login-panel {
	padding: 50px 30px;
}

.login-panel .card {
	border-color: #357B6B;
}
.login-panel div.card-header {
	background-color: #357B6B;
	color: white;
	margin-bottom: -30px;
}

.login-panel div.card-body {
	background-color: #C9C3AF;
}


/* Register View */
.register-page {
	padding-top: 10px;
	padding-bottom: 10px;
	background: url('../img/login_page_bg.jpg');
}

.register-page div.card-header{
	padding-top: 30px;
	padding-bottom: 30px;
}



/* Profile View */
.user-profile-page img.card-img-top {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}


/* Package View */
.edit-package-page .card {
	margin-bottom: 50px;
}

.package div.card-header {
	background-color: cyan;
}

.package div.card-footer {
	background-color: #212529;
}


/* Contact View */
.contact .contact-address img.card-img-top{
	height: 200px;
}

.contact .contact-address .icon {
	color: #353739;
}

/* Footer */
footer {
	padding-top: 50px;
	background-color: black;
	background-color: #343534;
	background-color: #212529;
}

footer .container {
	padding-top: 20px;
	padding-bottom: 0px;
}

footer a:hover {
	text-decoration: none;
	color: white;
}

div.footer-menu .title {
	color: white;
}

div.footer-menu ul li.list-group-item {
	padding-left: 0;
	border: 0;
	background-color: inherit;
	color: pink;
}

div.footer-menu i {
	color: cyan;
}


div.footer-menu ul li.list-group-item a {
	padding-left: 10px;
	color: lightgreen;
	color: gray;
}

div.footer-menu ul li.list-group-item a:hover {
	color: white;
}

footer .footer-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
}

footer .footer-menu{
	padding-top: 10px;
	padding-bottom: 10px;
}

footer .footer-bottom a{
	color: #72706D;
}

footer .footer-bottom a:hover {
	color: white;
}

footer .footer-bottom .social-menu a {
	margin-left: 10px;
	margin-right: 10px;
	color: white;
}

footer a.back-to-top {
	border: 0;
	color: white;
}

footer .footer-bottom .social-menu a:hover {
	color: lightblue;
}

footer  a:hover.back-to-top {
	background-color: green;
	border: 0;
}
